<div class="container ">
    <EditForm Model="@NovaSerie" OnValidSubmit="@OnValidSubmit">
        <div class="form-group row col-12">
            <div class="col-8">
                <label class="col-form-label fw-bold  ">Titulo</label>
                <InputText class="form-control" @bind-Value="NovaSerie.Titulo" placeholder="@serie?.Titulo"/>    
            </div>
            <div class="col-4">
                <label class="col-form-label fw-bold col-4">Ano</label>
                <InputNumber min="1900" max="2022" class="form-control" @bind-Value="NovaSerie.Ano" placeholder="serie?.Ano"/>                
            </div>            
        </div>
        <div class="form-group row col-12 d-flex justify-content-center">
            <label class="col-form-label fw-bold">Genero</label>
            <InputSelect class="form-control" @bind-Value="@NovaSerie.Genero">
                @foreach(var genero in Enum.GetValues(typeof(Generos)))
                {
                    if(serie?.Genero.ToString() == genero.ToString())
                    {
                        <option value="@genero" selected>@genero</option>
                    }
                    else
                    {
                        <option value="@genero">@genero.ToString()</option>    
                    }
                    
                }            
            </InputSelect>            
        </div>
        <div class="form-group row col-12">
            <label class="col-form-label fw-bold">Descrição</label>
            <InputTextArea style="height:150px" class="form-control " @bind-Value="NovaSerie.Descricao" placeholder="@serie?.Descricao"/>
        </div>
    </EditForm>    
 </div>
 
@code {
    [Parameter]
    public Serie? serie { get; set; }    

    [Parameter]
    public EventCallback Add_NovaSerie { get; set; }

    public Serie NovaSerie = new Serie();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void OnValidSubmit()
    {
        Console.WriteLine(NovaSerie);
    }



}
